/* Lattefy's frontend wallet style file */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, 
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    color: var(--dark);
    background: var(--bg-color);
}
html {
    scroll-behavior: smooth;
}
img {
    width: 100%;
}
h1 {
    color: var(--dark);
    font-size: 24px;
}
p {
    font-size: 14px;
}
ul {
    font-size: 12px;
}
a {
    text-decoration: none;
}
.check {
    width: 60px;
    margin: 0 0 10px 0;
}
main {
    width: 100vw;
}
div {
    padding: 0;
}

/* ----------------------------------------- Variables ---------------------------------------------- */

:root {

    /* colors */
    --blue: #1778f2;
    --green: #1db97b;
    --yellow: #ffd500;
    --white: #fff;
    --light: #dfdfdf;
    --dark: #181c1f;

    /* backgrounds */
    --bg-color: white;
    --dark-bg-color: var(--dark);
    --light-bg-color: var(--white);
    --loader-bg-color: var(--white);
    --nav-bg-color: var(--white);
    --container-bg-color: white;

    /* card */
    --card-section-bg-color: white;
    --card-bg-color: var(--dark);
    --card-text-color: white;

    /* input */
    --border-color: #ddd;
    --border-color-active: var(--blue);
    --input-bg-color: #eee;
    --burger-color: #aaa;
    --search-box-bg-color: rgba(0, 0, 0, 0.1);
    --search-box-color: var(--dark);

    /* links */
    --link-color: var(--blue);
    --btn-text-color: #fff;
    --btn-bg-color: var(--dark);

    /* shadows */
    --card-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    --container-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    --template-label-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    /* animations */
    --nav-icon-animation: 0.3s ease-in-out;

}

/* ------------------------------------------- Loaders --------------------------------------------- */

#loader {
    background: var(--loader-bg-color) url(images/loaders/loader-black.svg) no-repeat center center;
    display: block;
    background-size: 5%;
    position: fixed;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

/* Loader inside the button */
#btn-loader {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(images/loaders/loader-white.svg) no-repeat center center;
    background-size: contain;
    vertical-align: middle;
}
#btn-loader.hidden {
    display: none;
}


/* ------------------------------------------ Check icon ------------------------------------------- */

.check-icon {
    font-size: 90px;
    color: var(--green);
    opacity: 0;
    transform: scale(0);
    animation: tickAnimation 0.4s ease-out forwards 0.4s;
}
@keyframes tickAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* ------------------------------------------- Button ---------------------------------------------- */

.btn {
    width: 100%;
    height: 45px;
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: "Poppins", sans-serif;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
}
.btn:hover {
    opacity: 0.75;
}

.link {
    font-size: 14px;
    text-align: center;
}
.link p a {
    color: var(--link-color);
}
.link p a:hover {
    text-decoration: underline;
}

/* ------------------------------------------- Inputs ---------------------------------------------- */

form {
    margin-top: 10px;
}

input {
    height: 45px;
    width: 100%;
    outline: none;
    margin: 0 0 3px 0;
    padding: 0 15px;
    border-radius: 8px;
    border: 1.5px solid var(--border-color);
    background-color: var(--input-bg-color);
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    color: var(--dark);
}
input:focus {
    border-color: var(--border-color-active);
}

select {
    padding: 0 15px;
    height: 45px;
    width: 100%;
    margin: 0 0 3px 0;
    border: 1.5px solid var(--border-color);
    border-radius: 8px;
    color: var(--dark);
    background-color: var(--light);
    font-family: 'Poppins', sans-serif;
}

label {
    color: var(--grey);
    font-size: 10px;
    font-weight: 500;
}


/* ---------------------------------------- Navigation Bar ----------------------------------------- */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    width: 100vw;
    height: 55px;
    padding: 10px 2vw;
    z-index: 3;

    background-color: var(--nav-bg-color);    
}

/* Navigation Bar - logo */

nav a .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
nav a .logo i {
    font-size: 30px;
    color: var(--dark);
    margin: 0 7px 7px 0;
}
nav a .logo h2{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 0;
    color: var(--dark);
}

/* Navigation Bar - menu */

nav .menu {
    height: 0;
    width: 100vw;

    left: 0;
    right: 4.5vw;
    top: 55px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;

    overflow: hidden;
    opacity: 0;
    transition: 0.4s;
    background-color: var(--light);
}
nav .menu.active {
    height: calc(100vh - 55px);
    background-color: rgba(255, 255, 255, 0.80);
    opacity: 1;
    backdrop-filter: blur(10px);
}
nav .menu a {
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    color: var(--dark);
    font-style: bold;
}
nav .menu .btn {
    color: var(--btn-text-color);
    width: auto;
    padding: 0 20px;
    border-radius: 30px;
}
nav .menu .btn i {
    font-size: 20px;
    margin: 0 10px 0 0;
}

/* Navigation Bar - burger */

nav .nav-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav .burger {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 0 20px 0 10px;
}
nav .burger span {
    width: 25px;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--burger-color);
    transition: 0.4s;
}
nav .burger .line-1 {
    transform: translate(-50%, -7px);
}
nav .burger .line-3 {
    transform: translate(-50%, 5px);
}
nav .burger.active .line-1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}
nav .burger.active .line-2 {
    width: 0;
}
nav .burger.active .line-3 {
    transform: translate(-50%, -50%) rotate(45deg);
}

/* Navigation Bar - btn */

nav .nav-btn {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: var(--white);
    background-color: var(--btn-bg-color);
}
nav .nav-btn p {
    opacity: 0;
    width: 0;
    visibility: hidden;
    transition: 0.1s ease-in-out;
}
#home nav .nav-btn {
    background: linear-gradient(135deg, 
    #FF3B30, /* Red */
    #FF3B30, /* Red */
    #FF9500, /* Orange */
    #FFCC00, /* Yellow */
    #34c779, /* Green */
    #5AC8FA, /* Light Blue */
    #007AFF, /* Blue */
    #5856D6 /* Purple */
    );
    background-size: 400% 400%;
    animation: gradientAnimation 5s infinite alternate ease-in-out;
    transition: transform 0.2s ease-in-out, opacity 0.3s, width 0.3s;
}
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
nav .nav-btn:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
nav .nav-btn.active {
    width: 110px;
    padding: 5px 10px;
    gap: 10px;
}
nav .nav-btn.active p {
    width: auto;
    visibility: visible;
    opacity: 1;
}



/* ------------------------------------------ Section ---------------------------------------------- */

section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: calc(10vw + 55px) 10vw calc(10vw + 55px) 10vw;

    width: 100vw;
    height: 100vh;
    background-color: var(--light-bg-color);
}

/* ------------------------------------------ Container -------------------------------------------- */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;

    background-color: var(--container-bg-color);
    padding: 30px;
    border-radius: 15px;
    box-shadow: var(--container-shadow);
}
.container .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}
.container .forms {
    display: flex;
    gap: 10px;
}



/* SIGNUP */

#signup .container form {
    display: flex;
    gap: 10px;
}
#signup .container {
    width: 600px;
    height: auto;
}
#signup .container #terms p,
#signup .container #terms p a
{
    font-size: 12px;
}



/* LOGIN */

#login .container {
    width: 300px;
    height: auto;
}
#login .container i {
    font-size: 40px;
    margin: 5px 0 0 0;
}
#login .container .btn {
    background-color: var(--btn-bg-color);
}




/* DONE */

#done .container {
    width: 300px;
    height: 250px;
    align-items: center;
    text-align: center;
}

/* animation */

#done .container h1,
#done .container .link {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
#done .container.show-text h1,
#done .container.show-text .link {
    opacity: 1;
    transform: translateY(0);
}




/* CARD */

#home {
    overflow-y: hidden;
}
#home .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    text-align: left;

    width: 300px;
    height: 400px;
    margin: 0 auto; 
    padding: 30px 30px 30px 30px;
    border-radius: 15px;
}
#home .card-logo {
    width: 50%;
    margin: 0 auto 10px auto;
}
#home .card-header {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
#home .card-client-name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}
#home .card-rectangle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100% + 60px);
    transform: translateX(-30px);
    padding: 10px auto;
    min-height: 60px;
    max-height: 100px;
    gap: 10px;
}
#home .card-rectangle h3 {
    font-size: 25px;
    font-weight: 500;
}
#home .card-rectangle span {
    text-transform: lowercase;
    font-size: 16px;
    font-weight: 300;
}
#home .reward-box {
    border-radius: 30px;
    height: 30px;
    width: auto;
    padding: 10px 15px;
    margin: 10px auto 10px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#home .reward-box p {
    font-size: 14px;
    font-weight: bold;
}
#home .card-text,
#home .card-footer {
    align-items: center;
    text-align: center;
    list-style: none;
    font-size: 12px;
}

/* -- GIFT CARD -- */

#home .card-expiration {
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0 10px 0;
    text-align: center;
}

/* No cards */

#home .no-cards {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
    padding: 20px;
    margin-top: 20px;
    display: none;
}
#home .no-cards.active {
    display: block;
}
#home .no-cards i {
    font-size: 50px;
    color: #888;
    margin-bottom: 10px;
}
#home .no-cards .discover-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}
#home .no-cards .discover-link:hover {
    text-decoration: underline;
}

/* Carrousel */

#home #cards-container {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55px 0 0 0;
}
#home .carousel-container {
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    margin: auto;
}
#home .carousel-wrapper {
    display: flex;
    transition: transform 0.3s ease-out;
    will-change: transform;
    width: auto; 
    justify-content: center;
    gap: 20px; 
}
#home .carousel-item {
    min-width: 100%;
    flex-shrink: 0;
    transition: transform 0.3s ease-out;
    display: flex;
    justify-content: center;
}
#home .carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#home .carousel-dot {
    width: 8px;
    height: 8px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}
#home .carousel-dot.active {
    background-color: var(--blue);
}
@media (hover: none) {
    #home .carousel-wrapper {
        transition: transform 0.2s ease-out;
    }
}



/* DISCOVER */

#discover #templates-container {
    transform: translateY(50px);
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding: 20px;
    height: auto;
}
.template-box {
    position: relative;
    color: var(--white);
    width: 100%; 
    max-width: 350px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}
.template-img {
    width: 100%;
    max-height: 120px;
    object-fit: cover;
    display: block;
}
.template-header {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--white);
    color: var(--dark);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: var(--template-label-shadow);
}

.template-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
}
.template-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding: 3px;
    flex-shrink: 0;
}
.template-text {
    flex: 1;
    font-size: 12px !important;
    text-align: left;
}
.template-business-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.template-text p {
    font-size: 14px;
    margin: 3px 0 0;
}
.template-buttons {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 8px;
}
.template-action-btn {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 10px 10px 10px;
}
.template-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 10px 0 10px;
    font-size: 14px;
    color: var(--yellow);
    font-weight: bold;
    cursor: pointer;
}


/* Popup */

#discover #popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 290px;
    text-align: center;
    z-index: 3;
}
#discover #popup h2 {
    margin-bottom: 10px;
}
#discover #popup.active {
    display: block;
}
#discover .popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 2;
}

/* Popup btns */

#discover .popup-overlay.active {
    display: block;
}
#discover .popup-btns {
    gap: -10px;
}
#discover .btn:nth-child(2) {
    background: rgba(0, 0, 0, 0.2);
    color: red;
}

/* Button in loading state */
#discover #add-card-btn.loading {
    pointer-events: none;
    opacity: 0.7;
}

/* Feedback */

#discover #confirmation {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    width: 280px;
    height: 280px;
    gap: 10px;
    z-index: 2;

    background-color: transparent;
    box-shadow: none;
}
#discover #confirmation i {
    font-size: 170px;
    color:var(--white);
}
#discover #confirmation h2 {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
#discover #confirmation.show-text h2 {
    color: var(--white);
    opacity: 1;
    transform: translateY(0);
}
#discover #confirmation.active {
    display: flex;
}

/* Search Bar */
.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
    height: 40px;
    background-color: var(--search-box-bg-color);
    color: var(--search-box-color);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto 10px auto; 
    position: relative;
    transform: translateY(60px);
}

.search-container input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: var(--dark);
}

.search-container i {
    font-size: 18px;
    color: var(--dark);
}



/* ----------------------------------------- Responsive -------------------------------------------- */

@media only screen and (max-width: 730px) {

    /* Responsive - loader */

    #loader {
        background-size: 10%;
    }

    /* Responsive - Card  */

    #home .carousel-container {
        overflow: visible;
    }
    #home .card-container {
        box-shadow: var(--card-shadow);
    }

    /* Responsive - Container */

    #signup .container form {
        flex-direction: column;
        gap: 0px;
    }

    #signup .container {
        width: 320px;
    }


}