/* - Lattefy Uy | Style - */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, 
*::before,
*::after{
  margin: 0;
  box-sizing: border-box;
}
body{
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    color: var(--brown);
    background-color: var(--light);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
}
h1 {
    color: var(--lightBrown);
}
p {
    font-size: 12px;
    margin: 5px auto;
}
a{
    text-decoration: none;
}
main{
    width: 100vw;
}
div{
    padding: 0;
}

/* Color Pallette */

:root{
    --brown: #2b1c13;
    --lightBrown: #9d561c;
    --light: #f9dcbf;
}


/* LOADER */

/* #loader {
    background: var(--brown) url(images/loader.gif) no-repeat center center;
    display: block;
    background-size: 10%;
    position: fixed;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
} */


/* BUTTON */

.btn {
    width: 100%;
    height: 8vh;
    border: solid var(--lightBrown);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: "Poppins", sans-serif;

    background-color: var(--lightBrown);
    color: white;
}
.btn:hover {
    background-color: transparent;
    border-color: var(--lightBrown);
    color: var(--lightBrown);
}

/* INPUT */

input{
    height: 8vh;
    width: 100%;
    outline: none;
    margin: 0.5vh 0;
    padding-left: 15px;
    border-radius: 8px;
    border: 2px solid white;
    background-color: #eee;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    color: var(--brown);
}
input:focus {
    border-color: var(--lightBrown);
}

/* 5-Star Rating */

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom: 5px;
}
.star-rating input {
    display: none;
}
.star {
    font-size: 2rem;
    color: var(--light);
    cursor: pointer;
    transition: color 0.2s;
}
.star:hover,
.star:hover ~ .star {
    color: var(--lightBrown);
}
.star-rating input:checked ~ label,
.star-rating input:checked ~ label ~ label {
    color: var(--lightBrown);
}
input:checked ~ label {
    color: var(--lightBrown);
}
input:checked ~ label ~ label {
    color: var(--light);
}


/* FORM */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    width: 350px;
    padding: 30px;
    border-radius: 20px;
}
