/* Lattefy's frontend wallet style file */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, 
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    color: var(--dark);
    background: var(--bg-color);
}
html {
    scroll-behavior: smooth;
}
img {
    width: 100%;
}
h1 {
    color: var(--dark);
    font-size: 24px;
}
p {
    font-size: 14px;
}
ul {
    font-size: 12px;
}
a {
    text-decoration: none;
}
.check {
    width: 60px;
    margin: 0 0 10px 0;
}
main {
    width: 100vw;
}
div {
    padding: 0;
}

/* ----------------------------------------- Variables ---------------------------------------------- */

:root {

    /* colors */
    --blue: #1778f2;
    --green: #1db97b;
    --white: #fff;
    --light: #dfdfdf;
    --dark: #181c1f;

    /* backgrounds */
    --bg-color: white;
    --dark-bg-color: var(--dark);
    --light-bg-color: var(--white);
    --loader-bg-color: var(--white);
    --nav-bg-color: var(--white);
    --container-bg-color: white;

    /* input */
    --border-color: #ddd;
    --border-color-active: var(--blue);
    --input-bg-color: #eee;
    --burger-color: #aaa;

    /* links */
    --link-color: var(--blue);
    --btn-text-color: #fff;
    --btn-bg-color: var(--dark);

    /* shadows */
    --container-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);

}

/* ------------------------------------------- Loader ---------------------------------------------- */

#loader {
    background: var(--loader-bg-color) url(../assets/images/loaders/loader-black.svg) no-repeat center center;
    display: block;
    background-size: 5%;
    position: fixed;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

/* ------------------------------------------- Button ---------------------------------------------- */

.btn {
    width: 100%;
    height: 45px;
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: "Poppins", sans-serif;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
}
.btn:hover {
    opacity: 0.75;
}

.link {
    font-size: 14px;
    text-align: center;
}
.link p a {
    color: var(--link-color);
}
.link p a:hover {
    text-decoration: underline;
}

/* ------------------------------------------- Inputs ---------------------------------------------- */

form {
    margin-top: 10px;
}

input {
    height: 45px;
    width: 100%;
    outline: none;
    margin: 0 0 3px 0;
    padding: 0 15px;
    border-radius: 8px;
    border: 1.5px solid var(--border-color);
    background-color: var(--input-bg-color);
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    color: var(--dark);
}
input:focus {
    border-color: var(--border-color-active);
}

select {
    padding: 0 15px;
    height: 45px;
    width: 100%;
    margin: 0 0 3px 0;
    border: 1.5px solid var(--border-color);
    border-radius: 8px;
    color: var(--dark);
    background-color: var(--light);
    font-family: 'Poppins', sans-serif;
}

label {
    color: var(--grey);
    font-size: 10px;
    font-weight: 500;
}


/* ---------------------------------------- Navigation Bar ----------------------------------------- */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    width: 100vw;
    height: 55px;
    padding: 10px 2vw;
    z-index: 2;

    background-color: var(--nav-bg-color);    
}

/* Navigation Bar - logo */

nav a .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
nav a .logo i {
    font-size: 30px;
    color: var(--dark);
    margin: 0 7px 7px 0;
}
nav a .logo h2{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 0;
    color: var(--dark);
}

/* Navigation Bar - menu */

nav .menu {
    height: 0;
    width: 100vw;

    left: 0;
    right: 4.5vw;
    top: 55px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;

    overflow: hidden;
    opacity: 0;
    transition: 0.4s;
    background-color: var(--light);
}
nav .menu.active {
    height: calc(100vh - 55px);
    background-color: rgba(255, 255, 255, 0.80);
    opacity: 1;
    backdrop-filter: blur(10px);
}
nav .menu a {
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    color: var(--dark);
    font-style: bold;
}
nav .menu .btn {
    color: var(--btn-text-color);
    width: 100px;
    border-radius: 30px;
}

/* Navigation Bar - burger */

nav .nav-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav .burger {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 0 20px 0 10px;
}
nav .burger span {
    width: 25px;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--burger-color);
    transition: 0.4s;
}
nav .burger .line-1 {
    transform: translate(-50%, -7px);
}
nav .burger .line-3 {
    transform: translate(-50%, 5px);
}
nav .burger.active .line-1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}
nav .burger.active .line-2 {
    width: 0;
}
nav .burger.active .line-3 {
    transform: translate(-50%, -50%) rotate(45deg);
}


/* ------------------------------------------ Section ---------------------------------------------- */

section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: calc(10vw + 55px) 10vw calc(10vw + 55px) 10vw;

    width: 100vw;
    height: 100vh;
    background-color: var(--light-bg-color);
}

/* ------------------------------------------ Container -------------------------------------------- */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;

    background-color: var(--container-bg-color);
    padding: 30px;
    border-radius: 15px;
    box-shadow: var(--container-shadow);
}
.container .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}
.container .forms {
    display: flex;
    gap: 10px;
}



/* LOGIN */

#login .container {
    width: 300px;
    height: auto;
}
#login .container i {
    font-size: 40px;
    margin: 5px 0 0 0;
}
#login .container .btn {
    background-color: var(--btn-bg-color);
}





/* ----------------------------------------- Responsive -------------------------------------------- */

@media only screen and (max-width: 730px) {

    /* Responsive - loader */

    #loader {
        background-size: 10%;
    }

}