/* Lattefy Uy | Style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, 
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
body {
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    color: var(--dark);
    background: var(--dark) url(media/background.jpg) no-repeat center center;
    opacity: 1;
    backdrop-filter: blur(10px);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
html {
    scroll-behavior: smooth;
}
img {
    width: 100%;
}
h1 {
    color: var(--dark);
}
p {
    font-size: 12px;
    margin: 5px auto;
}
a {
    text-decoration: none;
}
.check {
    width: 70px;
}
main {
    width: 100vw;
}
div {
    padding: 0;
}

/* Color Pallette */

:root {
    --dark: #242424;
    --grey: #666e77;
    --light: #f3f4f6;
}

/* LOADER */

#loader {
    background: var(--dark) url(media/loader.gif) no-repeat center center;
    display: block;
    background-size: 10%;
    position: fixed;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
}

/* BUTTON */

.btn {
    width: 100%;
    height: 8vh;
    border: solid var(--dark);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: "Poppins", sans-serif;
    background-color: var(--dark);
    color: white;
}
.btn:hover {
    background-color: transparent;
    border-color: var(--dark);
    color: var(--dark);
}

/* INPUT */

input {
    height: 8vh;
    width: 100%;
    outline: none;
    margin: 0.5vh 0;
    padding: 0 15px;
    border-radius: 8px;
    border: 2px solid white;
    background-color: #eee;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    color: var(--dark);
}
input:focus {
    border-color: var(--grey);
}

#code input {
    margin-bottom: 10px;
}

/* Birthdate Label */

form .birthdate-label {
    color: var(--grey);
    font-size: 12px;
    font-weight: 500;
    margin-left: -50%;
}

/* 5-Star Rating */

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom: 5px;
}
.star-rating input {
    display: none;
}
.star {
    font-size: 2rem;
    color: #fdf187;
    cursor: pointer;
    transition: color 0.2s;
}
.star:hover,
.star:hover ~ .star {
    color: #f5c51a;
}
.star-rating input:checked ~ label,
.star-rating input:checked ~ label ~ label {
    color: #f5c51a;
}
input:checked ~ label {
    color: #f5c51a;
}
input:checked ~ label ~ label {
    color: #f5c51a;
}

/* Container */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 350px;
    padding: 30px;
    border-radius: 20px;
}

#done .container {
    text-align: center;
}
#done h1 {
    margin-bottom: 5px;
}
#done h3 {
    margin-bottom: 2.5px;
}

